* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --coin: #ba9f33;
  --dog-yellow: #d2a83e;
  --dog-light-yellow: #e0cd81;
}
.container {
  display: flex;
  height: 100vh;
  background: rgb(146, 143, 143);
  justify-content: center;
  align-items: center;
}
.coin {
  width: 300px;
  height: 300px;
  background: rgb(186, 159, 51);
  background: radial-gradient(
    circle,
    rgba(186, 159, 51, 1) 70%,
    rgba(135, 108, 41, 1) 71%
  );
  border-style: double;
  border-width: 10px;
  box-shadow: 0px 20px 20px 10px rgba(0, 0, 0, 0.71);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
h1 {
  font-family: "Syne Mono", monospace;
  position: absolute;
  top: 76%;
}
.doggy {
  width: 150px;
  height: 120px;
  background: var(--dog-yellow);
  position: absolute;
  border-radius: 48% 52% 49% 51% / 53% 55% 45% 47%;
}
.ear-left {
  width: 50px;
  height: 50px;
  background: var(--dog-yellow);
  position: absolute;
  top: 20%;
  left: 30%;
  border-radius: 22% 78% 0% 100% / 100% 100% 0% 0%;
}
.ear-detail-left {
  width: 20px;
  height: 45px;
  background: var(--dog-light-yellow);
  position: absolute;
  top: 21%;
  left: 31%;
  border-radius: 35% 65% 100% 0% / 100% 67% 33% 0%;
}
.ear-right {
  width: 50px;
  height: 50px;
  background: var(--dog-yellow);
  position: absolute;
  top: 20%;
  left: 52%;
  border-radius: 82% 18% 0% 100% / 100% 100% 0% 0%;
}
.ear-detail-right {
  width: 20px;
  height: 45px;
  background: var(--dog-light-yellow);
  position: absolute;
  top: 21%;
  left: 61%;
  border-radius: 65% 35% 0% 100%/ 67% 100% 0% 33%;
}
.mouth {
  width: 151px;
  height: 70px;
  background: var(--dog-light-yellow);
  position: absolute;
  border-radius: 50% 50% 50% 50% / 18% 18% 82% 82%;
  top: 137px;
}
.mouth-nose {
  width: 25px;
  height: 20px;
  background: var(--dog-light-yellow);
  position: absolute;
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
  top: 43%;
}
.eyebrow-left {
  width: 10px;
  height: 7px;
  background: var(--dog-light-yellow);
  position: absolute;
  border-radius: 29% 71% 76% 24% / 46% 74% 26% 54%;
  top: 35%;
  left: 40%;
}
.eyebrow-right {
  width: 10px;
  height: 7px;
  background: var(--dog-light-yellow);
  position: absolute;
  border-radius: 71% 29% 24% 76%/ 74% 46% 54% 26%;
  top: 35%;
  left: 57%;
}
.eye-left {
  width: 10px;
  height: 10px;
  background: black;
  position: absolute;
  top: 42%;
  left: 40%;
  border-radius: 48% 52% 49% 51% / 51% 29% 71% 49%;
  transform: rotate(5deg);
}
.eye-right {
  width: 10px;
  height: 10px;
  background: black;
  position: absolute;
  top: 42%;
  left: 57%;
  border-radius: 52% 48% 51% 49% / 29% 49% 51% 71%;
  transform: rotate(5deg);
}
.nose {
  width: 10px;
  height: 10px;
  background: black;
  position: absolute;
  top: 44%;
  left: 48.5%;
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}
.lips-1 {
  width: 5px;
  height: 27px;
  background: black;
  position: absolute;
  top: 45%;
  left: 49.4%;
  clip-path: polygon(40% 0%, 60% 0%, 100% 100%, 0% 100%);
}
.lip-right {
  width: 30px;
  height: 5px;
  background: black;
  position: absolute;
  top: 52%;
  left: 49%;
  border-radius: 29% 71% 84% 16% / 14% 53% 47% 86%;
  transform: rotate(-25deg);
}
.lip-left {
  width: 30px;
  height: 5px;
  background: black;
  position: absolute;
  top: 52%;
  left: 41%;
  border-radius: 29% 71% 84% 16% / 53% 14% 86% 47%;
  transform: rotate(205deg);
}
